{% extends "admin/layout.html" %}

{% block nav %}
<li class="nav-item">
  <a class="btn btn-primary" href="/dashbord">Dashboard</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="#">Messages<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
  <a class="btn btn-danger" href="/logout">Logout</a>
</li>
{% endblock nav %}

{% block body %}
<header class="masthead" style="background-image: url('https://github.com/jakbin/blog/raw/main/contact-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Admin Panel</h1>
          <span class="subheading">Manage your posts</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <br>

      {% for msg in msgs %}
      <div class="post-preview">
        <h2 class="post-title">
          {{msg.name}}
        </h2>
        <p class="post-meta">Sent by
          on {{msg.date}}</p>
      </div>
      {{msg.message}}...

      <br>
      <br>
      <td>
        <button id='delete' class="btn btn-danger rounded-lg border border-dark ml-3" data-id='{{msg.sno}}'>Delete</button></td>
      </tr>
      <hr>
      {% endfor %}

      </table>
    </div>
  </div>
</div>
</div>
{% endblock body %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function(e){
    $(document).on("click","#delete", function(e){
      if (confirm("Are you sure you want to delete this message!")) {
          var url = '/msg/delete/'
          var num = $(this).data("id");
          $.ajax({
              url : url+num,
              type : "GET",
              success : function(data){
                  if (data == 1) {
                    location.reload();
                  }else{
                      alert("Can't Delete Record.");
                  }
              }
          });
      }
    });
  });
</script>
{% endblock js %}