{% extends "layout.html" %}

{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
    </li>
{% endblock nav %}

{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{params['blog_name']}}</h1>
            <span class="subheading">{{params['tagline']}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts %}

        <div class="post-preview">
          <a href="/post/{{post.slug}}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{params['writer']}}</a>
            on {{post.date}}</p>
        </div>
        {{post.content[0:70]}}...
        <hr>
     
        {% endfor %}
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}
  
